<div class="card" style="width: 40rem; margin-bottom: 5rem">
    <div *ngIf="trip">
        <div class="card-header">
            <h3 class="card-title display-5">{{ trip.name | uppercase}}, {{ trip.country | uppercase }}</h3>
            <ngb-rating readonly="true" [(rate)]="tripRating" [max]="5" style="font-size: 1.5rem;"></ngb-rating>
        </div>

        <a routerLink="/trips/{{trip.id}}" title="Show trip details">
            <img class="card-img-top" src={{trip.imageUri}}>
        </a>
        
        <div class="card-body">
            <h5>Price: {{ trip.price | currency}}</h5>
            <h5>Date: {{ trip.startDate | date: 'MM/dd/yyyy' }} - {{ trip.endDate | date: 'MM/dd/yyyy' }}</h5>
        </div>
    </div>
</div>