
<div class="jumbotron h-100 align-items-center">
    <div class="w-50 mx-auto">
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
            <div class="form-group">
                <input type="text" formControlName="email" class="form-control mb-2" placeholder="Email" autofocus>
            </div>

            <div class="form-group">
                <input type="password" formControlName="password" class="form-control mb-2" placeholder="Password">
            </div>

            <button type="submit" value="login" class="btn btn-lg btn-primary btn-block mb-1" >Login</button>
        </form>

        <div class="d-inline">
            <p class="left">
                Don't have an account?
                <a routerLink="/register" class="text-primary" >Register</a>
            </p>
        </div>

        <ngb-alert #selfClosingAlert *ngIf="showAlert" type="danger" (closed)="alertMessage = ''">{{ alertMessage }}</ngb-alert>
    </div>
</div>